.history {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	color: var(--color__text);
	padding: 40px 0;
	&__table__container {
		width: 100%;
		
		overflow: auto;
		margin-bottom: 15px;
		table {
			width: 100%;
			border-collapse: collapse;
			border: none;
			padding: 10px 0;
			thead {
				border-bottom: 1px solid var(--color__text);
				width: 100%;
				th {
					text-align: center;
					background-color: var(--color__transparent);
					padding: 10px;
				}
			}
			tbody > tr > td {
				white-space: nowrap;
				text-align: center;
				padding: 5px 15px;
			}
		}
	}
	div {
		display: flex;
		width: 100%;
		column-gap: 15px;
		button {
			display: flex;
			justify-content: center;
			flex-grow: 1;
			padding-top: 10px;
			padding-bottom: 10px;
			border: 1px solid var(--color__transparent);
			border-radius: 10px;
			background-color: var(--color__transparent);
			font-family: 'Poppins', sans-serif;
			color: var(--color__text);
		}
	}
}
